<navbar> </navbar>
<div class="text-center">
  <H1>Gestione Clienti</H1>
</div>
<div class="d-flex justify-content-center m-4">
  <div class="p-2 m-2 rounded w-100">
    <div class="d-flex justify-content-center">
      @if (cliente) {
      <div class="card m-2">
        <div class="card-body">
          <div class="d-grid gap-3 col-6 mx-10">
            <buttonside></buttonside>
            <button
              class="btn btn btn-outline-warning"
              type="button"
              (click)="viewModifica()"
            >
              Modifica
            </button>
            <button
              class="btn btn btn-outline-warning"
              type="button"
              (click)="viewSposta()"
            >
              Sposta
            </button>
            <button
              class="btn btn-outline-danger"
              type="button"
              (click)="viewRemove()"
            >
              Rimuovi
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th scope="col">ID Cliente</th>
                <th scope="col">ID Azienda</th>
                <th scope="col">Nome Cliente</th>
                <th scope="col">Partita IVA</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
                <th scope="col">Offerte Commerciali</th>
                @if (removeClient) {
                <th scope="col">Rimuovi Utente</th>
                } @if (spostaClient) {
                <th scope="col">Sposta Utente</th>
                } @if (modificaClient) {
                <th scope="col">Modifica Utente</th>
                }
              </tr>
            </thead>
            @for (item of cliente; track $index) {

            <tbody>
              <tr class="text-center">
                <td>{{ item.ID_Cliente }}</td>
                <td>{{ item.ID_Azienda }}</td>
                <td>{{ item.Nome_Cliente }}</td>
                <td>{{ item.Partita_IVA }}</td>
                <td>{{ item.Indirizzo }}</td>
                <td>{{ item.Telefono }}</td>
                <td>{{ item.Email }}</td>
                <td>
                  <button
                    class="btn btn-outline-success bi bi-person-workspace"
                    (click)="viewLavorazioni(item.ID_Cliente)"
                  ></button>
                </td>
                @if (removeClient) {
                <td>
                  <button class="btn btn-outline-danger bi bi-trash"></button>
                </td>
                } @if (spostaClient) {
                <td>
                  <button
                    class="btn btn-outline-warning bi bi-arrow-right-square"
                  ></button>
                </td>
                } @if (modificaClient) {
                <td>
                  <button
                    class="btn btn-outline-warning bi bi-pencil-square"
                    data-bs-target="#ModificaBtn"
                    data-bs-toggle="modal"
                  ></button>
                </td>
                }
              </tr>
            </tbody>

            <div
              class="modal fade"
              id="ModificaBtn"
              aria-hidden="true"
              aria-labelledby="exampleModalToggleLabel"
              tabindex="-1"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                      Modifica Cliente
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="d-flex justify-content-center">
                        <div class="mb-2 col">
                          <label
                            for="staticEmail"
                            class="col-sm-3 col-form-label"
                            >Email</label
                          >
                          <div class="col-sm-8">
                            <input
                              type="email"
                              [value]="item.Email"
                              class="form-control"
                              id="staticEmail"
                            />
                          </div>
                        </div>
                        <div class="mb-2 col">
                          <label
                            for="inputIVA"
                            class="col-sm-5 col-form-label"
                            aria-label="Partita IVA"
                            >Partita IVA</label
                          >
                          <div class="col-sm-8">
                            <input
                              [value]="item.Partita_IVA"
                              class="form-control"
                              id="inputIVA"
                              disabled="true"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <div class="mb-3 col">
                          <label
                            for="staticEmail"
                            class="col-sm-3 col-form-label"
                            >Nome</label
                          >
                          <div class="col-sm-8">
                            <input
                              [value]="item.Nome_Cliente"
                              class="form-control"
                              id="staticEmail"
                            />
                          </div>
                        </div>
                        <div class="mb-3 col">
                          <label
                            for="inputIndirizzo"
                            class="col-sm-4 col-form-label"
                            >Indirizzo</label
                          >
                          <div class="col-sm-8">
                            <input
                              [value]="item.Indirizzo"
                              class="form-control"
                              id="inputIndirizzo"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <div class="mb-3 col">
                          <label
                            for="staticEmail"
                            class="col-sm-4 col-form-label"
                            >Telefono</label
                          >
                          <div class="col-sm-6">
                            <input
                              [value]="item.Telefono"
                              class="form-control"
                              id="staticEmail"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex text-center">
                      <small
                        >Ricorda sempre di Salvare, per apportare le
                        modifiche</small
                      >
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-success"
                      data-bs-toggle="modal"
                      data-bs-target="#liveToastBtn"
                    >
                      Salva
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div
                id="liveToast"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="toast-header">
                  <img src="../home/logo-full.png" class="rounded me-2" />
                  <strong class="me-auto">NVGroup</strong>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="toast-body">
                  Salvatagio completato con Successo!
                </div>
              </div>
            </div>

            }
          </table>
        </div>
      </div>

      } @else {
      <div class="d-flex flex-column mb-8">
        <b>Nessun Dato trovato</b>
        <button class="btn btn-secondary" (click)="indietro()">
          Torna indietro
        </button>
      </div>

      }
    </div>
  </div>
</div>
